# Themes directory of example site; ignored so that we can clone the repo
# inside the themes directory and test the example site with "hugo server".
exampleSite/themes/

# Hugo's lock
.hugo_build.lock
exampleSite/public/
public/

# Ignore macOS metadata
.DS_Store

# Vim swap files
*.swp

# Ignore VSCode workspace files
.vscode/

# Ignore python virtual environment
venv/

# Ignore .env file
.env