/* static/css/custom.css */
/* static/css/custom.css */
.about-page {
    padding: 20px;  /* Adjust the padding as needed */
    margin: auto;
    max-width: 800px;  /* Optional: to limit the maximum width of the content */
}
.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 15px;
}

.social-links a {
    text-decoration: none;
    color: inherit;
}

.social-links i {
    margin-right: 8px;
}